<configuration>

    <appender name="appLogfileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <append>true</append>
        <File>${logPath:- }starter-application.log</File>
        <encoder>
            <pattern>%d [%-6p] %c - %m%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <maxIndex>10</maxIndex>
            <FileNamePattern>${logPath:- }starter-application.log.%i</FileNamePattern>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>10MB</MaxFileSize>
        </triggeringPolicy>
    </appender>

    <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d [%-6p] %c - %m%n</pattern>
        </encoder>
    </appender>

    <appender name="logfileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${logPath:- }starter-all.log</File>
        <append>true</append>
        <encoder>
            <pattern>%d [%-6p] %c - %m%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <maxIndex>10</maxIndex>
            <FileNamePattern>${logPath:- }starter-all.log.%i</FileNamePattern>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>10MB</MaxFileSize>
        </triggeringPolicy>
    </appender>

    <logger name="org.starter" level="INFO">
        <appender-ref ref="appLogfileAppender"/>
    </logger>

    <!-- Authentication logging -->
    <!--
    <logger name="org.eclipse.jetty.servlet" level="TRACE">
        <appender-ref ref="appLogfileAppender"/>
    </logger>
    <logger name="org.eclipse.jetty.servlets" level="TRACE">
        <appender-ref ref="appLogfileAppender"/>
    </logger>
    -->

    <root level="WARN">
        <appender-ref ref="logfileAppender"/>
        <appender-ref ref="consoleAppender"/>
    </root>

</configuration>
